	# Ignore OS-created files (we don't want these polluting the repository)
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

	# Ignore log files
logs
*.logs

	# Ignore Eclipse IDE files
eclipse 
.settings
.metadata
.classpath
.project
bin

	# Ignore IntelliJ IDEA files
atlassian-ide-plugin.xml
out
.idea
*.iml
*.ipr
*.iws

	# Ignore files that don't need distributing
build
.gradle

	# Ignore files that [might] be used or that are symbolic links
builds